html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
  background-color: #E8F6EA; 
}

.bg-pastel {
  background-color: #C9E8C6 !important;
}

.btn-primary {
  background-color: #7BC47F;
  border-color: #7BC47F;
}

.btn-primary:hover {
  background-color: #63A865;
  border-color: #63A865;
}

.card {
  border-radius: 10px;
}

.body-wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.content-wrapper {
    flex: 1;
}